/* Coolors Exported Palette - coolors.co/2a5ab2-74b3ce-172a3a-133c55-59a5d8 */

/* HSL */
$color1: hsla(219%, 62%, 43%, 1);
$color2: hsla(198%, 48%, 63%, 1);
$color3: hsla(207%, 43%, 16%, 1);
$color4: hsla(203%, 63%, 20%, 1);
$color5: hsla(204%, 62%, 60%, 1);

/* RGB */
$color1: rgba(42, 90, 178, 1);
$color2: rgba(116, 179, 206, 1);
$color3: rgba(23, 42, 58, 1);
$color4: rgba(19, 60, 85, 1);
$color5: rgba(89, 165, 216, 1);