<p>Hello <%= @tag.name %></p>


<form method="post" action="/tag/<%= @tag.id %>">
  <div>

  <div>
    <label for="edit_tag"></label>
    <input type="text" name="name" id="edit_tag" value="<%= @tag.name %>">
  </div>

  <div>
    <input type="submit" value="Update Tag">
  </div>

</div>
</form>
