<div class="new-input">
<form method="post" action="/merchant/<%= @merchant.id %>">
    <label for="edit_merchant"></label>
    <input type="text" name="name" id="edit_merchant" value="<%= @merchant.name %>">
    <input id="link-button" type="submit" value="Update Tag">
</form>
</div>
