<h1>All Your Merchants</h1>


<!-- New Merchants -->
<form method="post" action="/merchants">
  <div>

  <div>
    <label for="new_merchant"></label>
    <input type="text" name="name" id="new_merchant">
  </div>

  <div>
    <input type="submit" value="Add New Merchant">
  </div>

</div>
</form>


<!-- List of all merchants -->
<div >
  <% @merchant.each do |merchant| %>

  <div >
    <p>Merchant: <%= merchant.name %></p>
  </div>

  <div>
    <a href="/merchant/<%= merchant.id %>/edit">Edit</a>
  </div>

  <div>
    <form method="post" action="/merchant/<%= merchant.id %>/delete" >
      <input type="submit" value="Delete">
    </form>
  </div>

  <% end %>
</div>
