<div class="new-input">
  <form method="post" action="/tag/<%= @tag.id %>">
    <label for="edit_tag"></label>
    <input type="text" name="name" id="edit_tag" value="<%= @tag.name %>">
    <input id="link-button" type="submit" value="Update Tag">
  </form>
</div>
