<h1>All Your Type Tags</h1>

<!-- New Tabs -->
<div class="new-input">
  <form method="post" action="/tags">
    <label for="new_tag"></label>
    <input type="text" name="name" id="new_tag">
    <input id="link-button" type="submit" value="Add New Tab">
  </form>
</div>

<!-- List of all tags -->
<div class="list-cont">
<div class="list-items">
  <% @tag.each do |tag| %>
  <div class="element-list">
    <p class="element"><%= tag.name %></p>
    <a id="link-button" class="element" href="/tag/<%= tag.id %>/edit">Edit</a>
    <form id="link-button" class="element" method="post" action="/tag/<%= tag.id %>/delete" >
      <input type="submit" value="Delete">
    </form>
  </div>
  <% end %>
</div>
</div>
