.table-layout {
  border-radius: 5px;
  background-color: rgba(187, 211, 249, 0.8)
}

.table-layout table {
  border-radius: 5px;
}

.table-layout p {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  color: white;
  /* font-size: 65%; */
  font-style: normal;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.table-layout th {
  color: white;
  height: 6vh;
  background-color: rgb(19, 60, 85);
  min-width: 90px;
}

.table-layout tr {
  background-color: rgba(216, 237, 255, 0.7);
}

.table-layout tr:nth-child(odd) {
  background-color: rgba(153, 207, 255, 0.7);
}

/* .table-layout td {
  padding-left: 10px;
} */

.table-layout tr {
  font-size: 65%;
}
.item-space {
  padding-left: 10px;
}


.table-layout a {
  text-align: center;
  display: block;

  border: solid black;
  border-width: thin;
  padding: 3px;


  color: black;
  text-decoration: none;
}

.table-layout a:hover {
  background-color: rgba(89, 165, 216, 1);
}

.table-layout a:active {
  background-color: rgba(19, 60, 85, 1);
}

.home-text {
 padding-right: 10%;
}



/* a {
    background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
} */

/* a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
} */
