<h1>Welcome Back</h1>

<p>Many people take no care of their money till they come nearly to the end of it, and others do just the same with their time.</p>
<p id = quote>Johann Wolfgang von Goeth</p>

<div >
  <% @transaction.first(2).each do |transaction| %>

  <div >
    <p>Merchant: <%= transaction.merchant.name %></p>
    <p>Date: <%= transaction.transaction_date %></p>
    <p>Cost: £<%= transaction.value.to_f/100 %></p>
    <p>Type Tag: <%= transaction.tag_id %></p>
  </div>






  <% end %>
</div>
