<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Atlantis Spending Tracker</title>

  <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

  <link rel="icon" href="/images/hazard.png" />

  <link rel="stylesheet" type="text/css" href="/    "> -->

</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Transactions</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="">Tags</a></li>
    </ul>
  </nav>
<section>
  <%= yield %>
</section>


</body>
</html>
